.inventory-details {
  width: 450px;
  background-color: aliceblue;
  padding: 30px;
  margin: 0 auto;
}

.stock-form {
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
}
.stock-form input {
  display: block;
  border: 1px solid lightgray;
  width: 100%;
  height: 43px;
  margin-bottom: 20px;
  padding-left: 10px;
}
input:focus {
  outline: none;
}
.form-heading {
  color: orange;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 50px;
}
.stock-btn {
  background-color: green;
  border: 0px;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  font-size: 20px;
}
