.action-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete-item {
  display: block;
  background-color: red;
  border: 0px;
  padding: 8px 15px;
  border-radius: 5px;
  margin: 0 auto;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
