.services-heading {
  padding-top: 70px;
  color: orange;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 900;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 70px 7%;
  gap: 40px;
}
img {
  width: 100%;
}
.parent {
  background-color: aliceblue;
  padding: 30px;
}
