.service-container {
  width: 100%;
  background-color: aliceblue;
  padding: 30px;
  border-radius: 5px;
}
img {
  width: 100%;
}
.stock-update {
  display: block;
  background-color: orange;
  border: 0px;
  padding: 8px 15px;
  border-radius: 5px;
  margin: 0 auto;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
